<div class="h-100 px-3 py-2 text-body">
    <div class="d-flex flex-column flex-md-row gap-4 align-items-stretch">
      <img src="<%= boardgame["thumbnail"] %>" alt="<%= primary_name(boardgame) %>" class="img-fluid rounded">

      <div class="d-flex flex-column justify-content-between h-100">
        <h2 class="text-warning fw-semibold mb-3">
          <%= primary_name(boardgame) %>
        </h2>

        <% if alternate_name(boardgame) %>
          <p class="text-muted mb-4">
            <em>Alternate name: <%= alternate_name(boardgame) %></em>
          </p>
        <% end %>

        <div class="d-flex flex-wrap gap-2">
          <p class="bg-body-secondary-subtle border border-warning px-2 p-1 rounded d-flex align-items-center gap-1">
            <i class="bi bi-calendar-event-fill"></i>
            <strong>Year:</strong>
            <span><%= boardgame.dig("yearpublished", "value") %></span>
          </p>

          <p class="bg-body-secondary-subtle border border-info px-2 p-1 rounded d-flex align-items-center gap-1">
            <i class="bi bi-people-fill"></i>
            <strong>Players:</strong>
            <span><%= players_range(boardgame) %></span>
          </p>

          <p class="bg-body-secondary-subtle border border-warning px-2 p-1 rounded d-flex align-items-center gap-1">
            <i class="bi bi-alarm-fill"></i>
            <strong>Playing Time:</strong>
            <span><%= boardgame.dig("playingtime", "value") %> min</span>
          </p>

          <p class="bg-body-secondary-subtle border border-info px-2 p-1 rounded d-flex align-items-center gap-1">
            <i class="bi bi-cake-fill"></i>
            <strong>Minimum Age:</strong>
            <span><%= boardgame.dig("minage", "value") %>+</span>
          </p>
        </div>
      </div>
    </div>

    <div class="d-flex align-items-center justify-content-between my-3">
      <hr class="flex-grow-1 me-3">
        <i class="bi bi-star-fill text-warning h4 m-0"></i>
      <hr class="flex-grow-1 ms-3">
    </div>

    <h3 class="badge text-bg-warning rounded fs-6">
      <i class="bi bi-blockquote-left me-1"></i>
      Description
    </h3>


    <div class="mt-3">
      <p><%= boardgame["description"]&.html_safe %></p>
    <div>

    <div class="d-flex align-items-center justify-content-between my-3">
      <hr class="flex-grow-1 me-3">
      <i class="bi bi-stars text-info h4 m-0"></i>
      <hr class="flex-grow-1 ms-3">
    </div>

    <div class="row my-3">
      <% if categories(boardgame).any? %>
        <div class="col-md-6">
          <h4 class="badge text-bg-info rounded fs-6">
            <i class="bi bi-bookmark me-1"></i>
            Categories
          </h4>

          <ul class="mt-3">
            <% categories(boardgame).each do |category| %>
              <li><%= category %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if mechanics(boardgame).any? %>
        <div class="col-md-6">
          <h4 class="badge text-bg-info rounded fs-6">
            <i class="bi bi-hammer me-1"></i>
            Mechanics
          </h4>
          <ul class="my-3">
            <% mechanics(boardgame).each do |mechanic| %>
              <li><%= mechanic %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <h6 class="badge text-bg-warning rounded fs-6">
      <i class="bi bi-pencil me-1"></i>
      Designer & Publisher
    </h6>

    <div class="mt-3">
      <p class="m-1"><strong>Designer:</strong> <%= designer(boardgame) || "undefined" %></p>
      <p class="m-1"><strong>Publisher:</strong> <%= publisher(boardgame) || "undefined"%></p>
    </div>
</div>
